@{
    Layout = null;
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travelin - Travel Tour Booking HTML Templates</title>
   
    <link rel="shortcut icon" type="image/x-icon" href="~/travelin/images/favicon.png">
    <link href="~/travelin/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/travelin/css/style.css" rel="stylesheet" />
    <link href="~/travelin/css/plugin.css" rel="stylesheet" />
    <link href="~/travelin/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/travelin/fonts/line-icons.css" rel="stylesheet" />

</head>


<div id="preloader">
    <div id="status"></div>
</div>
